language: julia

os:
  - osx
  - linux

julia:
  - 0.7
  - 1.0
  - nightly

matrix:
  allow_failures:
    - julia: nightly

script:
  - julia runtests.jl
  - ./bin/fetch-configlet
  - ./bin/configlet lint .
  - ./bin/configlet tree . --with-difficulty
