language: julia

os:
  - osx
  - linux

julia:
  - 1.0
  - 1.1
  - nightly

matrix:
  allow_failures:
    - julia: nightly

script:
  - julia --color=yes runtests.jl
  - ./bin/check_notebooks
  - ./bin/fetch-configlet
  - ./bin/configlet lint .
  - ./bin/configlet tree . --with-difficulty
