language: julia

os:
  - linux

julia:
  - release
  - nightly
  - 0.5.0

matrix:
  allow_failures:
    - julia: nightly

script:
  - julia runtests.jl
  - ./bin/fetch-configlet
  - ./bin/configlet .
