# {{ .Spec.Name }}

{{ .Spec.Description -}}
{{- with .Hints }}
{{ . -}}
{{ end }}
{{- with .Spec.Credits }}
## Source

{{ . }}
{{ end }}
## Version compatibility
This exercise has been tested on Julia versions >=1.0.

## Submitting Incomplete Solutions
It's possible to submit an incomplete solution so you can see how others have completed the exercise.
