name: Exercise CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "exercises/**"
      - "runtests.jl"
      - ".github/workflows/exercise-tests.yml"
  pull_request:
    paths:
      - "exercises/**"
      - "runtests.jl"
      - ".github/workflows/exercise-tests.yml"

jobs:
  test:
    name: Julia ${{ matrix.julia-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        julia-version: ["1.0", "1", nightly]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v2.3.4

      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}

      - name: Cache Julia artifacts
        uses: actions/cache@v2.1.5
        with:
          path: ~/.julia/artifacts 
          key: ${{ runner.os }}-${{ matrix.julia-version }}-test-cache-artifacts-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.julia-version }}-test-cache-artifacts-
            ${{ runner.os }}-${{ matrix.julia-version }}-test-
            ${{ runner.os }}-${{ matrix.julia-version }}-

      - name: Install test dependencies
        run: julia --color=yes --project -e "using Pkg; Pkg.instantiate()"

      - name: Test exercises
        run: julia --color=yes --project runtests.jl
